footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
  background: RGB(22, 90, 22);
  padding: 10px 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  font-size: 12.5px;
}

.information {
  gap: 2px;
}

.regulations {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

a {
  color: white;
  font-weight: bold;
}
